<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="boilingWater" class="homework_10.Temperature">
        <constructor-arg name="temperatureValue" value="100"/>
        <constructor-arg name="unitOfValue" value="C"/>
    </bean>

    <bean id="factorial" class="homework_3.MainProgram" factory-method="factorial">
        <constructor-arg name="n" value="5"/>
    </bean>

</beans>